<body>
	<h1>{{ title }}</h1>
	<p>{{ message }}</p>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">名前：</label>
			<input type="text" id="name" name="name" placeholder="名前">
            <label for="name">password1：</label>
			<input type="password" id="pw" name="password" placeholder="password1">	
			<label for="name">password2：</label>

			<input type="password" id="pw2" name="password2" placeholder="password2" value={{password}}>
		</div>
		<div>
			<input type="submit" value="送信">
		</div>
	</form>
</body>